<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Keyboard Config example</a>
  </h2>
  <p>Modal gallery example with Keyboard configuration</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <button class="btn btn-primary btn-sm" (click)="openModal(1, 0)">Click to open modal gallery id=1 at index=0</button>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Service inputs</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>images</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImage</code></td>
          <td>
            <div><i>Value: </i><code>Image</code></div>
            <div><b class="text-success"><code>Image</code> object to show</b></div>
          </td>
        </tr>
        <tr>
          <td><code>libConfig</code></td>
          <td>
            <div><i>Value: </i><code>LibConfig</code></div>
            <div><b class="text-success"><code>LibConfig</code> object to config the library. See below.</b></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>LibConfig</h4>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>keyboardConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123;esc: 81, left: 40, right: 38&#125;</code></div>
            <div>
              <p>This configuration will map actions to other keyboard's keys. So, if you want to change the key to close modal gallery,
                you can use this property. In this example:</p>
              <ul>
                <li><span class="text-success">close gallery: <kbd>q</kbd></span><span class="text-tail"> (instead of the default <kbd>esc</kbd>)</span></li>
                <li><span class="text-success">previous image: <kbd>&darr;</kbd></span><span class="text-tail"> (instead of the default <kbd>&larr;</kbd>)</span></li>
                <li><span class="text-success">next image: <kbd>&uarr;</kbd></span><span class="text-tail"> (instead of the default <kbd>&rarr;</kbd>)</span></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
