<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Output Events example</a>
  </h2>
  <p>Minimal and simple modal gallery example with <b class="text-success">output events logged in console.</b></p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <button class="btn btn-primary btn-sm" (click)="openModal(1, 0)">Click to open modal gallery id=1 at index=0</button>
  <br><br>

  <h3>Live demo results</h3>
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Output</th>
          <th>$event value (Event payload)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>(hasData)</code></td>
          <td>
            <div>{{imageLoaded | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(close)</code></td>
          <td>
            <div>{{closeImageModal | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(show)</code></td>
          <td>
            <div>{{visibleIndex | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(firstImage)</code></td>
          <td>
            <div>{{isFirstImage | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(lastImage)</code></td>
          <td>
            <div>{{isLastImage | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(buttonBeforeHook)</code></td>
          <td>
            <div>{{buttonBeforeHook | json}}</div>
          </td>
        </tr>
        <tr>
          <td><code>(buttonAfterHook)</code></td>
          <td>
            <div>{{buttonAfterHook | json}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Service inputs</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>images</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImage</code></td>
          <td>
            <div><i>Value: </i><code>Image</code></div>
            <div><b class="text-success"><code>Image</code> object to show</b></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
