<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Custom preview size</a>
  </h2>
  <p>Modal gallery example <b>with previews (custom size)</b>.</p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <button class="btn btn-primary btn-sm" (click)="openModal(1, 0)">Click to open modal gallery id=1 at index=0</button>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Service inputs</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>images</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImage</code></td>
          <td>
            <div><i>Value: </i><code>Image</code></div>
            <div><b class="text-success"><code>Image</code> object to show</b></div>
          </td>
        </tr>
        <tr>
          <td><code>libConfig</code></td>
          <td>
            <div><i>Value: </i><code>LibConfig</code></div>
            <div><b class="text-success"><code>LibConfig</code> object to config the library. See below.</b></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>LibConfig</h4>
    <br>
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Input</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>previewConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123; visible: true, size: &#123; width: '150px', height: 'auto' &#125;&#125;</code></div>
            <div>It will show 3 clickable previews (default size) with arrows</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
