/*
 * MIT License
 *
 * Copyright (c) 2017-2020 Stefano Cappa
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
@import "theme";

.menu-primary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;

  &.no-arrow {
    margin-left: 18px;
  }

  > h4 {
    color: #101010;
    font-size: 20px;
    cursor: default;
    margin-bottom: 14px;
  }

  > .menu-secondary {

    > .menu-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      > img {
        margin-bottom: 8px;
      }

      > h5 {
        color: #55595c;
        font-size: 18px;
        user-select: none;
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          color: #404345;
        }
      }
    }

    > h6 {
      color: #666a6e;
      font-size: 15px;
      margin-left: 6px;
      user-select: none;
      cursor: pointer;

      &:hover {
        color: #404345;
      }
    }

  }
}

