<div class="container">

  <h2 class="link clickable">
    <a class="link-title" href="https://github.com/Ks89/angular-modal-gallery">Download Advanced example</a>
  </h2>
  <p>Modal gallery example with <b class="text-success">downloadable images</b> and <b class="text-success">download button</b>.</p>
  <br>

  <p><b>Attention: for security reasons Google Chrome and other browsers decided to block cross-origin downloads.</b>
    So to use the download feature of this example, your images must be in the same server of your Angular application,
    otherwise the browser will navigate to the image itself, without to download it automatically.
    For more information check: <a href="https://developers.google.com/web/updates/2018/02/chrome-65-deprecations#block_cross-origin_wzxhzdk5a_download">HERE</a></p>
  <br>

  <h3>Live Demo</h3>
  <br>
  <button class="btn btn-primary btn-sm" (click)="openModal(1, 0)">Click to open modal gallery id=1 at index=0</button>
  <br><br>

  <section>
    <h3>Code</h3>
    <br>
    <h4>Template</h4>
    <codemirror [(ngModel)]="codeHtml" [config]="configHtml">
    </codemirror>
    <br>
    <h4>Typescript</h4>
    <codemirror [(ngModel)]="codeTypescript" [config]="configTs">
    </codemirror>
  </section>

  <br><br>

  <section>
    <h3>Service inputs</h3>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>id</code></td>
          <td>
            <div><i>Value: </i><code>NUMERIC UNIQUE ID</code></div>
            <div><b class="text-success">Unique id</b></div>
          </td>
        </tr>
        <tr>
          <td><code>images</code></td>
          <td>
            <div><i>Value: </i><code>Image[]</code></div>
            <div><b class="text-success">Array of <code>Image</code> objects</b></div>
          </td>
        </tr>
        <tr>
          <td><code>currentImage</code></td>
          <td>
            <div><i>Value: </i><code>Image</code></div>
            <div><b class="text-success"><code>Image</code> object to show</b></div>
          </td>
        </tr>
        <tr>
          <td><code>libConfig</code></td>
          <td>
            <div><i>Value: </i><code>LibConfig</code></div>
            <div><b class="text-success"><code>LibConfig</code> object to config the library. See below.</b></div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>LibConfig</h4>
    <br>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Input</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>currentImageConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123; downloadable: true &#125;</code></div>
            <div>Image download is enabled with keyboard shortcuts</div>
          </td>
        </tr>
        <tr>
          <td><code>buttonsConfig</code></td>
          <td>
            <div><i>Value: </i><code>&#123; visible: true, strategy: ButtonsStrategy.SIMPLE &#125;</code></div>
            <div>It will show download button</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
