/*
 * MIT License
 *
 * Copyright (c) 2017-2020 Stefano Cappa
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@import "theme";

.intro-header {
  background-color: $color-primary;
  background: linear-gradient(135deg, $color-primary, $color-secondary);
  margin-top: 0;
  padding-bottom: 1px;
  color: $color-white;

  h1 {
    color: $color-white;
    font-size: 3rem;
    font-weight: 400;
  }
}

.project-title {
  margin-top: 20px;
  font-size: 2.8rem;
}

img {
  margin-top: 25px;
}

.lead {
  font-size: 1rem;
}

.btn-custom {
  cursor: pointer;
  color: $color-white;
  border: 1px solid $color-white;
  padding: .375rem .75rem;
  vertical-align: middle;
  display: inline-block;
  border-radius: .25rem;

  &:hover {
    background: $color-white;
    color: $color-primary !important;
    text-decoration: none;
  }
}
